		<%- # ================Home Banner Area =================-%>
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
							<h2> Kirjautuminen </h2>
						</div>
						<div class="main_title">
							<p>Lisää ominaisuksia: 'Lähetä uusi viesti', 'Viestieditori' ja 'Viesin poistaminen' ovat näkyvissä, kun käyttäjä on kirjautuna. </p> 
						</div>
					</div>
				</div>
            </div>
        </section>
        <%- # ================End Home Banner Area =================-%>

            <div class="text-center">
                <div class="form-signin">
                        <%= form_with  model: @session, url: login_path do |f| %>
                            <div class="form-group">
                                <%= f.text_field :username, class: 'form-control mb-10', placeholder: 'User name' %>
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                     Testi käyttääjä on: test
                                </small>
                            </div>
                            <div class="form-group">
                                <%= f.password_field :password, class: 'form-control mb-10', placeholder: 'Password' %>
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                     Testi käyttäjän salasana on: test
                                </small>
                            </div>
                        <%= f.submit "Kirjaudu", :class => 'primary-btn submit_btn' %>
                        <% end %>
                </div>
                <p> <%= link_to '<- Palaa ajankohtaista-sivulle', root_path %> </p>
            </div>

        <%- # ================Footer Area =================-%>
        <footer class="footer_area p_120">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>About Me</h3>
        					</div>
        					<p>
								I am an result-focused IT junior programmer with the necessary skills in Software development. 
								I work with Windows and Linux computers on an advanced level and learn quickly any new programs.
								I am interested in IT technologies and spend a lot of time developing my skills in that area.
							</p>
        					<%- #  Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -%>
                                                <p>
Copyright &copy;2020 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>

    <%- #  Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -%> 
                                        </aside>
        			</div>
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget news_widget">
        					<div class="f_title">
        						<h3>Contact me</h3>
        					</div>
        					<p><a href="tel:+358449890965">+358 (0) 44 989 09 65<a/></p>
							<p><a href="mailto:vladimir.gavrilov@hotmail.com">vladimir.gavrilov@hotmail.com</a></p>
        					
        				</aside>
        			</div>
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Follow Me</h3>
        					</div>
        					<p>Let us be social</p>
        					<ul class="list">
        						<li><a href="https://www.instagram.com/vld.gvrl/"><i class="fa fa-instagram"></i></a></li>
        						<li><a href="https://www.linkedin.com/in/vladimir-gavrilov-53055112a/"><i class="fa fa-linkedin"></i></a></li>
        						<li><a href="https://youtu.be/PsJgw7sRsuc"><i class="fa fa-youtube"></i></a></li>
								<li><a href="https://github.com/vldgvrl"><i class="fa fa-github"></i></a></li>
        					</ul>
        				</aside>
        			</div>
        		</div>
        	</div>
        </footer>
        <%- # ================End Footer Area =================-%>
